html {
  height: 100%;
  overflow: hidden;
}
body {
    height: 100%;
    width: 100%;
    color: white;
    padding-top: 0px;
    padding: 0px;
    margin-top: 0px; 
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 0px;
}

.today-weather-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
    height: auto;
}

.city {
    font-size: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -12.5px;
    margin-bottom: -100px
}
 
.faran p {
    font-size: 50px;
    padding-top: 0px;
    width: 0px;
    height: 0px;
    margin-left: 285px;
    text-align: center;
    position: relative;
    top: -10px;
    left: -8px;
}

.temp {
  font-size: 150px;
  width: 155px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -170px;
}

.temp-circle {
    width: 10px;
    height: 10px;
    margin-left: 257px;
    margin-top: -47px;
    position: relative;
    text-align: center;
    border-color: white;
    border-width: 3.5px;
    border-style: solid;
    border-radius: 50%;
    top: 50px;
    left: 3px
}

.temp-circle-table {
    width: 4px;
    height: 4px;
    position: relative;
    text-align: center;
    font-size: 30px;
    margin-left: 90px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    top: -60px;
}

.table-temp {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

.little-faren {
  margin-left: 8px;
  margin-top: -4px;
  position: relative;
}

#big {
    font-size: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: -100px;
}


.wi {
    display: inline-block;
    font-family: weathericons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.wi-cloudy {
    font-size: 75px;
    color: grey;
    margin-top: 15px;
    margin-bottom: 5px;
}

.weather-stats {
    padding-top: 150px;
    margin-left: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -300px;
    font-size: 35px;    
}

.p-spacing {
  margin-top: 0px;
  margin-bottom: 15px;
}

@font-face {
	  font-family: "iconvault";
	  src: url("iconvault_forecastfont.eot");
	  src: url("iconvault_forecastfont.eot?#iefix") format("embedded-opentype"),
	       url("iconvault_forecastfont.woff") format("woff"),
	       url("iconvault_forecastfont.ttf") format("truetype"),
	       url("iconvault_forecastfont.svg#iconvault") format("svg");
	  font-weight: normal;
	  font-style: normal;
	}
	

@mixin Size {
  width: 150px;
  height: 400px;
  border: solid white 5px;
  color: white;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 22.5px;
    width: 950px;
    height: auto;
    table-layout: fixed;
    background: black;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    border-radius: 15px;
    border-spacing: 0px;
}

th {
  border-left: 2.5px solid white;
  border-right: 2.5px solid white;
  @include Size;
  text-align: center;
  position: relative;
  z-index: initial;
  Height: 50px;
  width: 50px;
  table-layout: fixed;
  font-size: 25px;
  
}

td {
  border-left: 2.5px solid white;
  border-right: 2.5px solid white;
  @include Size;
  text-align: center;
  z-index: initial;
  width: 100px; 
}

tr {
  position: relative;
  z-index: 1;
}

#sun {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 7em auto;
  padding: 7em;
  margin-left: 90%;
  margin-top: -5%;
}

/* CLOUDS */

.cloud{
  border-radius: 50%;
  position: absolute;
  margin-top: -30px;
  margin-left: -30px;
  background: #FFFFFF;
  height: 150px;
  width: 150px;
  box-shadow: 
    #FFFFFF -160px -20px 0 -30px,
    #FFFFFF -180px -45px 0 -15px,  
    #FFFFFF -75px -70px, 
    #FFFFFF -230px 10px 0 -25px,
    #FFFFFF -100px -40px,
    #f7f1e7 -50px 30px,  
    #f7f1e7 -150px 45px 0 -30px, 
    #f7f1e7 -215px 15px 0 -15px, 
    #f7f1e7 -5px 12.5px 0 5px;
}

#cloud1 {
  animation: move 4s ease infinite;
  top: 15%;
  left: 10%;
  z-index: -100;
}

#cloud2 {
  animation: move 5s ease infinite;
  top: 15%;
  left: 25%;
  z-index: -100;
}

#cloud3 {
  animation: move 6s ease infinite;
  top: 15%;
  left: 40%;
  z-index: -100;
}

#cloud4 {
  animation: move 4s ease infinite;
  top: 15%;
  left: 55%;
  z-index: -100;
}

#cloud5 {
  animation: move 5s ease infinite;
  top: 15%;
  left: 70%;
  z-index: -100;
}

#cloud6 {
  animation: move 6s ease infinite;
  top: 15%;
  left: 85%;
  z-index: 1;
}

#cloud7 {
  animation: move 4s ease infinite;
  top: 15%;
  left: 100%;
  z-index: 1;
}

#cloud8 {
  animation: move 5s ease infinite;
  top: 0%;
  left: 5%;
  z-index: 3;
}

#cloud9 {
  animation: move 6s ease infinite;
  top: 0%;
  left: 20%;
  z-index: 3;
}

#cloud10 {
  animation: move 4s ease infinite;
  top: 0%;
  left: 35%;
  z-index: -1;
}

#cloud11 {
  animation: move 5s ease infinite;
  top: 0%;
  left: 50%;
  z-index: -1;
}

#cloud12 {
  animation: move 6s ease infinite;
  top: 0%;
  left: 65%;
  z-index: 3;
}

#cloud13 {
  animation: move 4s ease infinite;
  top: 0%;
  left: 80%;
  z-index: 3;
}

#cloud14 {
  animation: move 5s ease infinite;
  top: 0%;
  left: 95%;
  z-index: 3;
}

#cloud15 {
  animation: move 6s ease infinite;
  top: 7.5%;
  left: 5%;
  z-index: 2;
}

#cloud16 {
  animation: move 4s ease infinite;
  top: 7.5%;
  left: 20%;
  z-index: 2;
}

#cloud17 {
  animation: move 5s ease infinite;
  top: 7.5%;
  left: 35%;
  z-index: -2;
}

#cloud18 {
  animation: move 6s ease infinite;
  top: 7.5%;
  left: 50%;
  z-index: -2;
}

#cloud19 {
  animation: move 4s ease infinite;
  top: 7.5%;
  left: 65%;
  z-index: -2;
}

#cloud20 {
  animation: move 5s ease infinite;
  top: 7.5%;
  left: 80%;
  z-index: 2;
}

#cloud21 {
  animation: move 6s ease infinite;
  top: 7.5%;
  left: 95%;
  z-index: 2;
}

@keyframes move {
  50% {
    transform: translateY(-17.5px);
  }
}